{% extends "layout.html" %}
{# Cria-se uma variável no arquivo da página (que pode ser declarada antes da sua real posição) para que
o arquivo 'layout.html' posicione-a no seu devido local. Neste caso, essa variável corresponde à 'div'
principal do corpo ('body') de cada arquivo #}
{% set bodyId = "page-create-point" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">
        <h1>Cadastro do ponto de coleta</h1>

        <!--O 'fieldset' agrupa outros conteúdos dentro do bloco, neste caso o 'form'-->
        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>
            <!--Nesse momento é criada uma 'div' para cada linha de elementos. Esse primeiro 'div' será para inserir um texto e uma caixa de entrada de dados-->
            <div class="field-group">
                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="image">Imagem da entidade</label>
                    <input type="url" name="image" placeholder="http://" required="required">
                </div>
            </div>
            <!--Um atalho para construir o bloco '<div class="field-group"></div>' de forma prática é digitar '.field-group' (por exemplo) e teclar Enter-->
            <div class="field-group">
                <!--Você pode criar dois blocos 'div' com a mesma classe, e, um atralho para construílos de forma prática é '.field*2', ou seja, multiplica-se o nome da classe por 2 (neste caso) e eles serão construídos através deste único comando-->
                <div class="field">
                    <!--Digite 'label+input' e ambos também serão criados neste comando-->
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address2">Bairro</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <!--Você pode criar dois blocos 'div' com a mesma classe, e, um atralho para construílos de forma prática é '.field*2', ou seja, multiplica-se o nome da classe por 2 (neste caso) e eles serão construídos através deste único comando-->
                <div class="field">
                    <!--Digite 'label+input' e ambos também serão criados neste comando-->
                    <label for="numbe">Número</label>
                    <input type="text" name="number" required="required">
                </div>
                <div class="field">
                    <label for="phone">Telefone</label>
                    <input type="text" name="phone" placeholder="(  )" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <!--Toda entidade 'select' necessitará de opções (option)-->
                    <select name="uf" required="required">
                        <option value="">Selecione o estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <!--Para que não seja possível a pessoa selecionar a cidade antes do estado, insere-se o argumento 'disabled' no elemento 'select', assim, esta opção só ficará disponível quando o estado for selecionado-->
                    <select name="city" disabled="disabled" required="required">
                        <!--Toda entidade 'select' necessitará de opções (option)-->
                        <option value="">Selecione a cidade</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Ítens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>
            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <img src="/assets/lampadas.svg" alt="Lâmpadas">
                    <spam>Lâmpadas</spam>
                </li>
                <li data-id="Pilhas e Baterias">
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                    <spam>Pilhas e Baterias</spam>
                </li>
                <li data-id="Papéis e Papelão">
                    <img src="/assets/papeis-papelao.svg" alt="Papéis e Pepelão">
                    <spam>Papéis e Papelão</spam>
                </li>
                <li data-id="Resíduos eletrônicos">
                    <img src="/assets/eletronicos.svg" alt="Resíduos eletrônicos">
                    <spam>Resíduos eletrônicos</spam>
                </li>
                <li data-id="Resíduos orgânicos">
                    <img src="/assets/organicos.svg" alt="Resíduos orgânicos">
                    <spam>Resíduos orgânicos</spam>
                </li>
                <li data-id="Óleo de cozinha">
                    <img src="/assets/oleo.svg" alt="Óleo de cozinha">
                    <spam>Óleo de cozinha</spam>
                </li>
                <li data-id="Vidros">
                    <img src="/assets/vidros.svg" alt="Vidros">
                    <spam>Vidros</spam>
                </li>
                <li data-id="Plásticos">
                    <img src="/assets/plasticos.svg" alt="Plásticos">
                    <spam>Plásticos</spam>
                </li>
                <li data-id="Metais">
                    <img src="/assets/meatais.svg" alt="Metais">
                    <spam>Metais</spam>
                </li>
                <li data-id="Hospitalar">
                    <img src="/assets/hospitalar.svg" alt="Hospitalar">
                    <spam>Hospitalar</spam>
                </li>
                <li data-id="Verde">
                    <img src="/assets/verde.svg" alt="Verde">
                    <spam>Verde</spam>
                </li>
                <li data-id="Radioativo">
                    <img src="/assets/radioativo.svg" alt="Radioativo">
                    <spam>Radioativo</spam>
                </li>
            </div>
            <input type="hidden" name="items">
        </fieldset>

        <!--O argumento 'submit' identifica que, quando o botão for clicado, o bloco 'form' será enviado para o destino-->
        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}